<div class="container">
  <form [formGroup]="authForm">
    <h2>Login</h2>
    <mat-form-field appearance="standard">
      <mat-label for="inputLogin1" class="col-sm-12 col-form-label">Login</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput formControlName="login" type="text" class="form-control" id="inputLogin1" [formControl]="controlLogin" autocomplete="new-password">
      </div>
    </mat-form-field>
    <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['required']">*please enter a login email</p>
    <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['email']">*the login email is invalid</p>
    <mat-form-field appearance="standard">
      <mat-label for="inputPassword3" class="col-sm-12 col-form-label">Password</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput formControlName="password" type="password" class="form-control" id="inputPassword3" [formControl]="controlPassword" autocomplete="new-password">
      </div>
    </mat-form-field>
    <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['required']">*please enter a password</p>
    <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['minlength']">*your password isn't strong enough: should be longer than 8</p>
    <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['pattern']">*your password isn't strong enough: should be used uppercase and lowercase letters, numbers, special character</p>
    <button mat-raised-button color="blue" type="submit" [disabled]="authForm.invalid" (click)="onSubmitButton()" class="btn btn-primary">Submit</button>
  </form>
</div>
