<div class="container">
  <form [formGroup]="authForm">
    <h2>Login</h2>
    <mat-form-field appearance="standard">
      <mat-label for="inputLogin1" class="col-sm-12 col-form-label">Login</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput formControlName="login" type="text" class="form-control" id="inputLogin1" [formControl]="controlLogin" autocomplete="new-password">
      </div>
    </mat-form-field>
    <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['required']">*required field</p>
    <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['minlength']">*should be longer than 3</p>
    <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['maxlength']">*should be shorter than 20</p>
    <p class="fs-6 fw-light" *ngIf="controlLogin?.errors?.['pattern']">*should use only small letters or numbers </p>
    <mat-form-field appearance="standard">
      <mat-label for="inputPassword3" class="col-sm-12 col-form-label">Password</mat-label>
      <div class="col-sm-12" [formGroup]="authForm">
        <input matInput formControlName="password" type="password" class="form-control" id="inputPassword3" [formControl]="controlPassword" autocomplete="new-password">
      </div>
    </mat-form-field>
    <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['required']">*required field</p>
    <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['minlength']">*should be longer than 4</p>
    <p class="fs-6 fw-light" *ngIf="controlPassword?.errors?.['maxlength']">*should be shorter than 20</p>
    <button mat-raised-button color="blue" type="submit" [disabled]="authForm.invalid" (click)="onSubmitButton()" class="btn btn-primary">Submit</button>
  </form>
</div>
