<div class="container">
  <mat-toolbar >
    <mat-toolbar-row class="header__row">
      <a routerLink="">
        <img src="../../assets/images/logo.png" alt="logo">
      </a>
      <app-search ></app-search>
      <button class="settings-button"  (click)="onSettings()">
        <img src="../../assets/images/search_settings.png" alt="settings">
      </button>
      <p>Guest</p>
      <a routerLink="/login">
        <img class="login-img" src="../../assets/images/login.png" alt="login">
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row class="header__row">
      <ng-template [ngIf]="settingsOn">
        <app-sort></app-sort>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
