<div class="container">
  <mat-toolbar >
    <mat-toolbar-row class="header__row">
      <a routerLink="">
        <img src="../../assets/images/logo.svg" alt="logo">
      </a>
      <app-search ></app-search>
      <button class="settings-button" *ngIf="isVideoRoute()" (click)="onSettings()">
        <img class="settings-img" src="../../assets/images/search_settings.svg" alt="settings">
      </button>
      <p>Guest</p>
      <a routerLink="/login">
        <img class="login-img" src="../../assets/images/login.svg" alt="login">
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row class="header__row">
      <ng-template [ngIf]="settingsOn">
        <app-sort></app-sort>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
